.kanban-draggable-item {
    cursor: grab;
}

.kanban-draggable-item.is-dragging {
    cursor: grabbing;
    opacity: 0.5;
}

.kanban-column-drop-zone.is-drag-over {
    background-color: var(--bulma-link-soft);
}

.kanban-task-drop-target.is-drag-over {
    border-top: 3px solid var(--bulma-link);
}

.kanban-column-drop-zone.is-drag-over.disabled-drop {
    background-color: var(--bulma-danger-soft);
}

.kanban-task-drop-target.is-drag-over.disabled-drop {
    border-top: 3px solid var(--bulma-danger);
}
