.border-color-success {
    border-left: 4px solid var(--bulma-success)
}

.border-color-warning {
    border-left: 4px solid var(--bulma-warning)
}

.border-color-danger {
    border-left: 4px solid var(--bulma-danger)
}
